.button-small {
  padding: 5px 15px;
  font-family: Gilroy;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 50px;
  margin: 0 5px 0 0;
  cursor: pointer;
  &.contained {
    color: #FFFFFF;
    background: #E75152;
  }
  &.outlined {
    background: transparent;
    color: #1D62C9;
    border: 1px solid #1D62C9;
    box-sizing: border-box;
  }
  .icon {
    margin-right: 7px;
    
  }
}