@import '../../styles/mixins';

.c-header {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background: #B6BABE;
  box-shadow: 0 4px 10px rgba(56, 56, 56, 0.09);

  @include mq('tablet-wide') {
    padding: 0 15px;
  }

  @include mq('tablet') {
    height: 50px;
  }

  @include mq('tablet-small') {
    background-color: #1F2123;
  }

  &__mobile-menu {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 4px;
    padding: 10px;

    svg {
      width: 27px;
      height: 22px;
      fill: #fff;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0 38px;

    @include mq('tablet') {
      padding: 0 15px;
    }

    &-name {
      margin-left: 10px;
      line-height: 20px;
      letter-spacing: 0.25px;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;

      @include mq('tablet') {
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }

  &__settings {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;

    @include mq('tablet') {
      padding: 0 15px;
    }

    svg {
      fill: #fff;
    }
  }

  & > div {

    &:last-child {
      display: flex;
      align-items: center;
      margin-left: 20px;

      @include mq('tablet') {
        margin-left: 5px;
      }
    }

    .c-lang-select {
      color: #fff !important;
      background-color: #B6BABE !important;
    }
  }
}
