@import '../../styles/mixins';

.c-filter-panel {
  padding: 20px 0;
  position: relative;
  z-index: 1;

  @include mq('desktop') {
    padding: 15px 0 5px;
  }

  @include mq('tablet') {
    padding-bottom: 15px;
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @include mq('tablet') {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include mq('phone-small') {
      justify-content: center;
    }

    & > * {

      @include mq('phone-small') {
        margin-bottom: 15px;
      }
    }

    & > *:not(:first-child) {
      margin-left: 35px;

      @include mq('desktop-wide') {
        margin-left: 25px;
      }

      @include mq('desktop') {
        margin-left: 10px;
      }

      @include mq('tablet') {
        flex-shrink: 0;
        margin-left: 25px;
      }
    }
  }

  &__heading {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #A8A8A8;
    margin-bottom: 5px;
  }

  &__sort {
    color: #bdbdbd;

    button {
      font-size: 16px;
      line-height: 32px;
    }

    @include mq('tablet') {
      flex-shrink: 0;
      order: 2;
      width: 30%;
      margin-left: 25px;
    }

    @include mq('tablet-small') {
      width: 38%;
    }

    @include mq('tablet-xxs') {
      width: 35%;
    }

    @include mq('phone-wide') {
      width: 60%;
    }

    @include mq('phone-small') {
      order: 1;
      width: auto;
      margin-left: 0 !important;
    }
  }

  &__search {
    position: relative;
    flex-grow: 1;
    max-width: 215px;

    @include mq('desktop-small') {
      max-width: 210px;
    }

    @include mq('tablet') {
      order: 6;
      max-width: unset;
      min-width: 300px;
      margin-left: 0 !important;
    }

    @include mq('tablet-small') {
      align-self: center;
      margin-left: 25px !important;
    }

    @include mq('phone-wide') {
      margin-left: 0 !important;
    }

    @include mq('phone-small') {
      min-width: unset;
    }

    input {
      background: #fff;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 5px 32px 5px 13px;
      font-size: 16px;
      line-height: 26px;
      color: #1F2123;
      width: 100%;
    }

    button {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      right: 7px;
      top: 7px;

      &:hover {
        svg {
          fill: #1F2123;
        }
      }

      svg {
        fill: #BDBDBD;
      }
    }
  }

  &__time {

    @include mq('tablet') {
      order: 1;
      width: 13%;
      margin-left: 0 !important;
    }

    @include mq('tablet-small') {
      width: 20%;
    }

    @include mq('phone-wide') {
      width: 30%;
    }

    @include mq('phone-small') {
      order: 2;
      width: 48%;
    }
  }

  &__currency {

    @include mq('tablet') {
      order: 3;
      width: 20%;
    }

    @include mq('tablet-small') {
      order: 5;
      width: 25%;
      margin-left: 0 !important;
    }

    @include mq('phone-wide') {
      width: 45%;
      margin-left: 25px !important;
    }

    @include mq('phone-small') {
      margin-left: 0 !important;
    }

    button {
      font-size: 16px;
      line-height: 32px;
      font-weight: 600;

      @include mq('tablet-small') {
        line-height: 24px;
      }
    }

    button:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__members-type {

    @include mq('tablet') {
      order: 4;
      width: 15%;
    }

    @include mq('tablet-small') {
      order: 3;
      width: 20%;
    }

    @include mq('phone-wide') {
      width: 30%;
      margin-left: 0 !important;
    }

    @include mq('phone-small') {
      width: 42%;
    }
  }

  &__advanced {
    line-height: 40px;

    @include mq('tablet') {
      order: 5;
      width: 6%;
    }

    @include mq('tablet-small') {
      order: 4;
      width: 9%;
    }

    @include mq('phone-small') {
      width: 10%;
      margin-left: 0 !important;
    }

    svg {
      fill: #bdbdbd;
    }

    button:hover svg,
    .is-active svg {
      fill: #1f2123;
    }
  }

  &__drop {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    background: #F6F6F6;
    padding: 30px 0;
    &:after {
      content: '';
      position: absolute;
      background: #F6F6F6;
      left: -300px;
      right: -300px;
      top: 0;
      bottom: 0;
      box-shadow: 0px 10px 20px rgba(6, 6, 6, 0.1);
      z-index: -1;
    }
  }

  &__blue-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #1D62C9;
    font-weight: 700;

    svg {
      margin-right: 10px;
      fill: #1D62C9;
    }
  }

  &__row {
    margin-top: 20px;
    display: flex;

    @include mq('phone') {
      flex-direction: column;
    }
  }

  &__col {
    width: 50%;

    &:first-child {
      width: 49%;
      padding-right: 2%;

      @include mq('phone') {
        width: 100%;
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: 4%;
      border-left: 1px solid #E0E0E0;

      @include mq('phone') {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
        border: 0;
      }
    }
  }

  &__field-list {
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #1F2123;

    @include mq('tablet-wide') {
      flex-direction: column;
    }

    @include mq('phone') {
      margin-top: 10px;
    }
  }

  &__field-list-column {
    width: 50%;

    @include mq('tablet-wide') {
      width: 100%;
    }

    &:last-child {

      @include mq('tablet-wide') {
        margin-top: 10px;
      }
    }

    & > div {
      display: flex;
      align-items: flex-start;
    }

    & > * + * {
      margin-top: 10px;
    }

    .react-switch-label {
      margin-top: 2px;
      margin-right: 10px;

      @include mq('tablet-wide') {
        width: 40px;
        height: 20px;
      }

      .react-switch-button {

        @include mq('tablet-wide') {
          width: 18px;
          height: 18px;
        }
      }
    }

    .react-switch-text {

      @include mq('tablet-wide') {
        margin-top: 3px;
        font-size: 14px;
      }
    }

    .checkmark {

      @include mq('tablet-wide') {
        width: 20px;
        height: 20px;
      }

      &::after {

        @include mq('tablet-wide') {
          left: 6px;
          top: 3px;
          width: 7px;
          height: 10px;
        }
      }
    }

    .trading-system__text {

      @include mq('tablet-wide') {
        margin-top: 3px;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  button {
    outline: none;
    cursor: pointer;
    color: #1F2123;
  }

  button:not(.is-active) {
    color: #BDBDBD;
  }

  .c-time-filter__period {
    margin-bottom: 0;
    margin-top: -3px;
  }

  .react-dropdown-select {
    width: 120px;
  }
}
