@import '../../styles/mixins';

.c-portfolio {
  padding: 25px 0 0;

  @include mq('desktop') {
    padding: 15px 0 0;
  }

  @include mq('tablet') {
    padding: 25px 0 0;
  }

  &__row {
    padding: 0 20px 20px;

    @include mq('desktop') {
      padding: 0 10px 10px;
    }

    @include mq('tablet') {
      padding: 0 20px 20px;
    }

    &.is-lined {
      position: relative;
      padding-top: 37px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #E0E0E0;
      }
    }
  }

  &__2col {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;

    @include mq('desktop') {
      padding-bottom: 11px;
    }

    @include mq('tablet') {
      padding-bottom: 21px;
    }

    @include mq('phone-small') {
      flex-direction: column;
    }
  }

  &__chart {
    flex-shrink: 0;
    width: 206px;
    margin-right: 26px;

    @include mq('desktop') {
      width: 180px;
      margin-right: 16px;
    }

    @include mq('desktop-small') {
      width: 130px;
      margin-right: 16px;
    }

    @include mq('tablet') {
      width: 250px;
      margin-right: 26px;
    }

    @include mq('phone-wide') {
      width: 200px;
    }

    @include mq('phone-small') {
      align-self: center;
      margin-right: 0;
    }
  }

  &__stats {
    flex-grow: 1;

    @include mq('desktop') {
      max-width: 250px;
    }

    @include mq('tablet') {
      max-width: 350px;
    }
  }

  &__stats-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-bottom: 4px;
    position: relative;
    text-transform: uppercase;

    @include mq('desktop') {
      line-height: 16px;
    }

    @include mq('tablet') {
      line-height: 20px;
    }

    &.is-other {
      text-transform: capitalize;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 19px;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #F2F2F2;
    }

    & + & {
      margin-top: 9px;
    }
  }

  &__stats-currency {
    display: flex;
    align-items: center;

    span {
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__platforms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__platform {
    margin-bottom: 11px;
    width: 25%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @include mq('desktop-small') {
      width: 33.333333%;
    }

    @include mq('tablet') {
      width: 20%;
    }

    @include mq('phone-wide') {
      width: 33.333333%;
    }

    @include mq('phone-small') {
      margin-bottom: 20px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13px;
      height: 13px;
      border-radius: 2px;
      border: 1px solid #1F2123;
      margin-right: 6px;
    }

    &.is-selected {

      span {
        background: #1F2123;
      }
    }
  }

  &__col {
    flex-shrink: 0;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
