@import '../../styles/mixins';

.c-card-short {
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #F7F7F7;

  &__main {
    margin-bottom: 3px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #1F2123;

    @include mq('tablet') {
      font-size: 14px;
    }
  }

  &__additional {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #BDBDBD;

    @include mq('tablet') {
      font-size: 14px;
    }
  }
}
