.c-trading-terminal-table {
-webkit-box-shadow: 0px 0px 3px 1px rgba(196, 201, 204, 0.7);
-moz-box-shadow: 0px 0px 3px 1px rgba(196, 201, 204, 0.7);
box-shadow: 0px 0px 3px 1px rgba(196, 201, 204, 0.7);
  overflow: auto;
  margin: 5px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 2px;
  .bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px;
    .title {
      padding: 3px 5px;
      flex: 2;
      font-family: Gilroy;
      font-weight: 600;
      font-size: 12px;
      text-align: left;
      letter-spacing: 0;
      color: #656565;
      opacity: 1;
    }
    .icons {
      flex: 1;
    }
  }
  .terminal-table {
    width: 100%;
    th,
    td {
      // resize: both;
      // overflow: auto;
    }
    .header-container {
      .header-cell {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0;
        color: #656565;
        padding: 1px;
        border: 0.5px solid #E4E4E4;
        padding: 2px;
        padding-left: 5px;
      }
    }
    .row {
      .sl {
        position: absolute;
        height: 17px;
        width: 390px;
        right: 100%;
        bottom: -1px;
        background: rgba(231, 81, 81, 0.3) 0% 0% no-repeat padding-box;

      }
      .tp {
        position: absolute;
        height: 17px;
        width: 320px;
        left: 0;
        bottom: -1px;
        background: rgba(33, 177, 102, 0.3) 0% 0% no-repeat padding-box;
      }
      .cell {
        padding: 2px;
        padding-left: 5px;
        overflow: visible;
        position: relative;
        font-family: Gilroy;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0;
        color: #656565;
        border: 0.5px solid #E4E4E4;
      }
    }
  }
}