@import '../../styles/mixins';

.c-user-icon {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;

  @include mq('tablet') {
    width: 35px;
    height: 35px;
  }

  img {
    width: 100%;
  }
}
