@import './mixins';

.c-content-card-title {
  margin: 0 0 30px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #B6BABE;

  @include mq('desktop') {
    margin: 0 0 15px;
    font-size: 16px;
  }

  &.is-clean {
    margin: 0;
  }
}
