html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Gilroy', sans-serif;
}

#app {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.is-right-separator {
  border-right: 2px solid rgba(233, 240, 252, 0.2);
}

.btn-primary {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  appearance: none;
  user-select: none;
  outline: none;
  padding: 4px 40px;
  border-radius: 50px;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #1D62C9;
}
