/* Customize the label (the container) */
.green-checkbox-container {
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.green-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label {
  /* Caption */
  font-family: Gilroy;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  color: #000000;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #1F2123;
  box-sizing: border-box;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.green-checkbox-container:hover input~.checkmark {
  background-color: #E0E0E0;
}

.green-checkbox-container input:focus~.checkmark {
  background-color: #E0E0E0;
}


/* When the checkbox is checked, add a blue background */
.green-checkbox-container input:checked~.checkmark {
  background: url('checkbox-plus-active.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.green-checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.green-checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.green-checkbox-container .checkmark:after {
  left: 4px;
  top: 2px;
}