@import '../../styles/mixins';

.l-top-members-page {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;

  @include mq('desktop') {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  &__content {

    & > *:not(:first-child) {
      margin-top: 30px;

      @include mq('desktop') {
        margin-top: 15px;
      }
    }
  }

  .c-members-card {
    overflow: visible;

    @include mq('tablet-small') {
      overflow: hidden;
    }

    @include mq('phone-wide') {
      flex-direction: column;
    }

    &__top {

      @include mq('tablet') {
        min-height: 182px;
      }

      @include mq('tablet-small') {
        min-height: unset;
      }
    }
  }

  .c-chart-with-controls {
    display: flex;
    flex-direction: column;

    &__controls {
      order: 1;
      margin-bottom: 30px;

      @include mq('desktop') {
        margin-bottom: 14px;
      }

      @include mq('tablet') {
        flex-wrap: wrap;
        margin-bottom: 4px;
      }
    }

    &__history {

      @include mq('tablet') {
        order: 3;
      }
    }

    &__title {

      @include mq('tablet') {
        width: 50%;
      }

      @include mq('phone-small') {
        width: auto;
        margin: 15px 0;
      }
    }

    &__type {
      display: flex;

      @include mq('phone-small') {
        justify-content: center;
      }

      button {
        cursor: pointer;
        box-sizing: border-box;
        appearance: none;
        user-select: none;
        outline: none;
        padding: 12px 10px 0;
        border: 0;
        border-top: 4px solid transparent;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.25px;
        font-size: 14px;
        color: #BDBDBD;

        @include mq('phone-small') {
          padding: 6px 20px;
          border: 1px solid #B6BABE;
          font-size: 16px;
          color: #BDBDBD;
        }

        &:first-child {

          @include mq('phone-small') {
            border-right: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }

        &:last-child {

          @include mq('phone-small') {
            border-left: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        &.is-active {
          border-color: #1F2123;
          color: #1F2123;
          background-color: transparent;

          @include mq('phone-small') {
            border-color: #B6BABE;
            color: #fff;
            background-color: #B6BABE;
          }
        }
      }
    }

    &__chart {
      order: 2;
    }

    &__currency-name {
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.15px;
      font-size: 14px;
      color: #1F2123;
    }
  }
}
