@import '../../styles/mixins';

.c-news {
  padding-top: 27px;
  padding-bottom: 10px;

  @include mq('desktop') {
    padding-top: 17px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 23px;

    @include mq('desktop') {
      padding: 0 13px;
    }

    @include mq('tablet') {
      padding: 0 23px;
    }

    @include mq('phone-small') {
      padding: 0 20px;
    }

    &-title {
      line-height: 24px;
      letter-spacing: 0.44px;
      font-size: 18px;
      font-weight: 600;
      color: #B6BABE;

      @include mq('desktop') {
        font-size: 16px;
      }

      @include mq('tablet') {
        font-size: 18px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      appearance: none;
      user-select: none;
      outline: none;
      padding: 4px 12px 4px 5px;
      border-radius: 13px;
      color: #fff;
      background-color: #20AD65;

      @include mq('phone-small') {
        padding: 6px 15px 6px 8px;
      }

      svg {
        margin-right: 7px;
      }

      span {
        font-size: 12px;
        line-height: 16px;

        @include mq('phone-small') {
          font-size: 16px;
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-bottom: 16px;
    padding: 0 18px;
    border-bottom: 1px solid #e0e0e0;

    @include mq('desktop') {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 0 8px;
    }

    @include mq('tablet') {
      justify-content: flex-start;
      margin-top: 11px;
      margin-bottom: 16px;
      padding: 0 18px;
    }

    button {
      cursor: pointer;
      display: block;
      margin-bottom: -2px;
      padding: 8px 5px;
      border-bottom: 2px solid transparent;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #A8A8A8;

      @include mq('tablet') {
        margin-right: 10px;
        margin-left: 10px;
      }

      @include mq('tablet') {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 16px;
      }

      &:first-child {

        @include mq('tablet') {
          margin-left: 0;
        }
      }

      &:last-child {

        @include mq('tablet') {
          margin-right: 0;
        }
      }

      &.is-active {
        border-bottom: 2px solid #1D62C9;
        font-weight: 500;
        color: #1F2123;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

.c-post {
  margin-top: 15px;
  padding: 0 23px 15px;
  border-bottom: 1px solid #e0e0e0;

  @include mq('desktop') {
    margin-top: 10px;
    padding: 0 13px 10px;
  }

  @include mq('tablet') {
    margin-top: 15px;
    padding: 0 23px 15px;
  }

  &:last-child {
    border-bottom: 0;
  }

  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include mq('desktop') {
      margin-bottom: 5px;
    }

    @include mq('tablet') {
      margin-bottom: 10px;
    }

    span {
      display: block;
      margin-left: 10px;
      font-size: 14px;

      @include mq('desktop') {
        margin-left: 7px;
      }

      @include mq('tablet') {
        margin-left: 10px;
      }
    }

    .user-name {
      line-height: 16px;
      letter-spacing: 0.3px;
      color: #1F2123;
    }

    .timestamp {
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #BDBDBD;
    }

    .c-user-icon {
      width: 32px;
      height: 32px;
      background-color: #F2F2F2;
    }
  }

  &__excerpt {
    max-width: 225px;
    margin-bottom: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-size: 14px;
    color: #1F2123;

    @include mq('tablet') {
      max-width: unset;
    }
  }

  &__link {
    display: block;
    margin-bottom: 13px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-size: 14px;
    color: #1D62C9;

    @include mq('desktop') {
      margin-bottom: 10px;
    }

    @include mq('tablet') {
      margin-bottom: 13px;
    }
  }

  &__img {
    max-width: 238px;
    border-radius: 5px;
    overflow: hidden;

    @include mq('tablet') {
      max-width: unset;
      margin: 15px auto 0;
    }

    img {
      width: 100%;
    }
  }
}
