@import '../../styles/mixins';

.l-settings {
  position: relative;
  background-color: #F6F6F6;
  padding: 20px 86px 15px 30px;
  overflow: auto;
  .tabs-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    .tab-list {
      border-bottom: 3px solid #E0E0E0;
      height: 49px;
      .rwt__tab {
        position: relative;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 3px;
        padding-left: 20px;
        font-family: Gilroy;
        font-size: 16px;
        line-height: 26px;
        color: #1F2123;
        &.active:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          background: #1D62C9;
        }
      }
    }
    .rwt__tabpanel {
      padding: 32px 0 0;
    }
  }
  .password-change {
    display: inline-block;
    vertical-align: top;
    margin-left: 34px;
    padding: 24px 19px;
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
      .title {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 24px;
        color: #B6BABE;
        font-weight: bold;
        margin-bottom: 25px;
      }
      .footer-container-default {
        max-height: 67px;
        .add-new {
          margin: 16px auto;
          display: block;
          cursor: pointer;
          background: #1D62C9;
          border-radius: 50px;
          padding: 7px 28px 9px 28px;
          font-family: Gilroy;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
          font-weight: bold;
          margin-left: auto;
        }
      }
  }
}