@import '../../styles/mixins';

.c-progress-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mq('tablet-small') {
    margin-right: 10px;
  }

  &__round-chart {
    margin-bottom: 10px;

    @include mq('tablet-small') {
      margin-bottom: 0;
    }

    svg {
      transform: rotate(-90deg);
    }
  }

  &__percent,
  &__sum {
    position: absolute;
  }

  &__percent {
    top: 30%;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: #1F2123;
    font-weight: 700;
  }

  &__sum {
    top: 55%;
    font-size: 10px;
    line-height: 1.1;
    text-align: center;
    color: #1F2123;
  }
}
