@import '../../styles/mixins';

.l-profile {
  overflow-y: auto;
  flex-grow: 1;
  padding: 30px;

  @include mq('desktop-wide') {
    padding: 15px;
  }

  @include mq('tablet') {
    padding: 20px 50px;
  }

  @include mq('phone-small') {
    padding: 20px;
  }

  @include mq('phone') {
    padding: 10px;
  }

  &__column {
    margin-right: 30px;

    @include mq('desktop-wide') {
      margin-right: 15px;
    }

    @include mq('tablet') {
      margin-right: 0;
    }

    &.is-left {
      flex-shrink: 0;
      width: 285px;

      @include mq('desktop') {
        width: 245px;
      }

      @include mq('tablet') {
        display: flex;
        width: 100%;
      }

      @include mq('tablet-small') {
        flex-direction: column;
      }

      .l-profile__content-card {

        @include mq('tablet-small') {
          display: flex;
        }

        &:first-child {

          @include mq('tablet') {
            flex-shrink: 0;
          }

          @include mq('tablet-small') {
            margin-right: 0;
          }
        }

        &:last-child {

          @include mq('tablet') {
            flex-grow: 1;
          }
        }
      }
    }

    &.is-center {
      width: 480px;

      @include mq('desktop-wide') {
        flex-grow: 1;
        width: auto;
      }

      @include mq('tablet') {
        width: 100%;
      }

      .l-profile__content-card {
        @include mq('tablet') {
          margin-right: 0;
        }
      }
    }

    &.is-right {
      flex-shrink: 0;
      width: 285px;
      margin-right: 0;

      @include mq('desktop') {
        width: 245px;
      }

      @include mq('tablet') {
        display: flex;
        align-items: flex-start;
        width: 100%;
      }

      @include mq('tablet-xxs') {
        flex-direction: column;
      }

      .l-profile__content-card {

        &:first-child {

          @include mq('tablet') {
            flex-shrink: 0;
          }
        }

        &:last-child {

          @include mq('tablet') {
            flex-grow: 1;
          }
        }
      }
    }
  }

  &__top {
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;

    @include mq('desktop-wide') {
      margin-bottom: 15px;
    }

    @include mq('tablet') {
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    width: 1110px;

    @include mq('desktop-wide') {
      width: auto;
    }

    @include mq('tablet') {
      flex-wrap: wrap;
    }

    &-card {
      margin-bottom: 30px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0px 10px 20px rgba(105, 105, 105, 0.1);

      @include mq('desktop-wide') {
        margin-bottom: 15px;
      }

      @include mq('tablet') {
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include mq('phone-wide') {
        flex-direction: column;
      }

      &:first-child {

        @include mq('tablet-xxs') {
          width: 100%;
          margin-right: 0;
        }
      }

      &:last-child {

        @include mq('tablet') {
          margin-right: 0;
        }
      }
    }
  }

  &__wallets {

    @include mq('tablet-small') {
      width: 50%;
      border-bottom: 1px solid #E0E0E0;
      border-bottom-right-radius: 5px;
    }

    @include mq('tablet-xxs') {
      flex-grow: 1;
      width: auto;
    }
  }
}
