.api-key-container {
  padding-bottom: 30px;
  .head {
    .title {
      padding: 0 20px;
      .text {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 24px;
        color: #B6BABE;
        font-weight: bold;
        margin-right: 35px;
      }
    }
    .new-api-key-container {
      background: #E1F9ED;
      border-radius: 4px;
      margin: 16px 20px;
      padding: 22px 19px;
      .new-api-key-title {
        font-family: Gilroy;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #1F2123;
        margin-bottom: 18px;
      }
      .new-api-form {
        
        display: flex;
        flex-direction: row;
        .column {
          flex: 1;
          padding-right: 30px;
          .stock-select {
            padding-bottom: 15px;
            .label {
              font-weight: 600;
              margin-bottom: 8px;
              font-family: Gilroy;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.4px;
              color: #1F2123;;
            }
          }
          .add-new {
            cursor: pointer;
            background: #1D62C9;
            border-radius: 50px;
            padding: 7px 28px 9px 28px;
            font-family: Gilroy;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            font-weight: bold;
            float: right;
            margin-top: 20px;
          }
        }
      }
    }
    .success-message {
      margin: 23px 20px;
      background: #E1F9ED;
      border-radius: 4px;
      padding: 13px 16px;
      .icon {
        margin-right: 8px;
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
        background: #20AD65;
      }
      .text {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #1F2123;
      }
    }
  }
  .content {
    margin-top: 30px;
    .table {
      border: 1px solid transparent;
      position: relative;
      overflow: hidden;
      .table-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3px;
        border-bottom: 1px solid #E0E0E0;
        padding: 0 20px;
        .head-cell {
          flex: 1;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          font-weight: 600;
          color: #000000;
        }
      }
      .table-rows {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        .row {
          align-items: center;
          display: flex;
          flex: 1;
          flex-direction: row;
          padding: 7px 0;
          .item {
            flex: 1;
            font-family: Gilroy;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000000;
          }
        }
      }
    }
  }
}