@import '../../styles/mixins';

.l-expenses {
    .divider {
      height: 5px;
      width: 100%;
      background: #F2F2F2;
    }
    .flex-grid {
      padding: 30px 32px 0 32px;
      display: flex;
      flex-direction: row;
      .column {
        flex: 1;
      }
    }
    .details-container {
      padding: 30px 31px;
      .title {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 24px;
        color: #1F2123;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .member-card-container {
        margin-bottom: 30px;
        .c-members-card {
          overflow: visible;

          @include mq('tablet-small') {
            overflow: hidden;
          }

          @include mq('phone-wide') {
            flex-direction: column;
          }
        }
      }
      .pagination {
        margin: 40px auto 10px;
        max-width: 300px;
        display: flex;
        flex-direction: row;
        li {
          flex: 1;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: #BDBDBD;
          &.active {
            color: #000000;
          }
          &.previous,
          &.next {
            color: #000;
          }
        }
      }
    }
}
