@import '../../styles/mixins';

.c-wallet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    display: block;
    color: #fff;
  }

  &.is-short {
    padding: 0 53px 0 14px;

    @include mq('tablet') {
      padding: 0 25px 0 10px;
    }

    .c-wallet-info__title {
      line-height: 16px;
      font-size: 12px;

      @include mq('tablet') {
        line-height: 14px;
      }
    }

    .c-wallet-info__usd {
      line-height: 20px;
      letter-spacing: 0.25px;
      font-size: 14px;

      @include mq('tablet') {
        line-height: 18px;
      }
    }

    .c-wallet-info__crypto {
      line-height: 16px;
      letter-spacing: 0.5px;
      font-size: 12px;

      @include mq('tablet') {
        line-height: 14px;
      }
    }
  }

  &.is-green,
  &.is-blue {
    position: relative;
    z-index: 2;
    margin-top: -6px;
    padding: 20px 20px 10px;
    background-color: #1D62C9;
    border-radius: 5px;

    @include mq('desktop') {
      padding: 15px 10px 10px;
    }

    @include mq('tablet') {
      padding: 20px 20px 10px;
    }

    @include mq('tablet-small') {
      height: 50%;
      margin-top: 0;
      padding-bottom: 15px;
      border-radius: 0;
    }

    @include mq('tablet-xxs') {
      height: 50%;
      padding: 15px 10px 10px;
    }

    @include mq('phone-wide') {
      margin-top: -6px;
      padding: 20px 20px 10px;
      border-radius: 5px;
    }

    &::before {
      content: url('./images/wallet-blue.svg');
      position: absolute;
      right: 10px;
      bottom: -2px;
      z-index: -1;
    }

    .c-wallet-info__title {
      margin-bottom: 7px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
    }

    .c-wallet-info__usd {
      line-height: 30px;
      letter-spacing: 0.15px;
      font-size: 26px;

      @include mq('desktop') {
        font-size: 22px;
        line-height: 26px;
      }

      @include mq('tablet') {
        font-size: 26px;
        line-height: 30px;
      }
    }

    .c-wallet-info__crypto {
      line-height: 30px;
      letter-spacing: 0.15px;
      font-size: 16px;

      @include mq('desktop') {
        font-size: 14px;
        line-height: 26px;
      }

      @include mq('tablet') {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  &.is-green {
    z-index: 1;
    background-color: #20AD65;

    @include mq('tablet-small') {
      border-bottom-right-radius: 5px;
    }

    &::before {
      content: url('./images/wallet-green.svg');
      right: 15px;
    }
  }

  &.is-blue {

    @include mq('tablet-small') {
      border-top-right-radius: 5px;
    }
  }
}
