.c-subscription {
  z-index: 5;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  width: 527px;
  height: 740px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(105, 105, 105, 0.1);
  border-radius: 10px;

  .header {
    padding: 46px 30px 52px;
    .title {
      font-family: Gilroy;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #1F2123;
      font-weight: bold;
      .label {
        font-family: Gilroy;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 10px;
        font-weight: bold;
        display: inline-block;
        background: #20AD65;
        border-radius: 20px;
        padding: 1px 10px;
        margin-left: 8px;
        vertical-align: text-top;
      }
    }
  }

  .body {
    height: 527px;
    .title {
      padding: 0 30px;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 26px;
      color: #1F2123;
    }
    .description {
      padding: 0 30px;
      font-family: Gilroy;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      color: #B6BABE;
    }


    .allocated-funds {
      .description {
        max-width: 392px;
        margin-top: 10px;
        margin-bottom: 40px;
      }
      .input-container {
        margin-left: 24px;
        position: relative;
        max-width: 58px;
        display: inline-block;
        border-bottom: 1px solid #1F2123;
        .numbered-input {
          max-width: 58px;
          border:none;
          background-image:none;
          background-color:transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          font-family: Gilroy;
          font-size: 16px;
          line-height: 26px;
          color: #1F2123;
        }
        .percent {
          position: absolute;
          right: 0;
          top: 1px;
          font-family: Gilroy;
          font-size: 16px;
          line-height: 26px;
          color: #1F2123;
        }
      }
      .assets {
        border-top: 1px solid rgba(224, 224, 224, 0.5);

        .exclude-assets, .include-assets, .show-stats {
          border-bottom: 1px solid rgba(224, 224, 224, 0.5);          
          padding: 20px 30px 30px 54px;
          .title-container {
            display: flex;
            flex-direction: row;
            position: relative;
            .icon {
              position: absolute;
              left: -25px;
              top: 4px;
            }

            .column {
              flex: 1;

              &:first-child {
                font-family: Gilroy;
                font-size: 16px;
                line-height: 26px;
                color: #1F2123;
              }

              .toggle {
                margin-left: auto;
                width: 24px;
                height: 12px;
                margin-top: 7px;
              }
            }
          }

          .asset-description {
            max-width: 350px;
            font-family: Gilroy;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.5px;
            color: #B6BABE;
            font-weight: 300;
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            .label {
              flex: 1 0 31%;
              max-width: 130px;
              margin-right: 10px;
              margin-top: 10px;
              display: flex;
              flex-direction: row;
              background: #B6BABE;
              border-radius: 20px;
              // padding: 1px 7px;
              .text {
                flex: 1;
                font-weight: bold;
                font-family: Gilroy;
                font-size: 10px;
                line-height: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
              }
            }
          }
        }

        .show-stats {
          border-bottom: none;
          margin-top: 15px;
        }
      }
    }
    &.step-two {
      .allocated-funds {
        .description {
          margin-bottom: 8px;
        }
        .exclude-assets,
        .include-assets {
          padding: 10px 30px 10px;
        }
        .show-stats {
          margin-top: 8px;
          padding: 10px 30px 10px 54px;
        }
        .include-assets {
          .title-container {
            &.active {
              .column {
                color: #B6BABE;
              }
            }
            .title-lot {
              flex: 0.5;
            }
            .fix-input-container {
              .fix-input {
                border:none;
                background-image:none;
                background-color:transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-bottom: 1px solid #1F2123;
                color: rgb(40, 41, 43);
                font-weight: 600;
                font-family: Gilroy;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
                &::placeholder {
                  font-weight: 600;
                  font-family: Gilroy;
                  font-size: 16px;
                  line-height: 24px;
                  text-align: right;
                  color: #B6BABE;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .p-summary-step {
    height: 527px;
    .divider {
      height: 1px;
      width: 100%;
      margin-top: 25px;
      background: #E0E0E0;
      opacity: 0.5;
    }
    .submited-title {
      margin-top: 15px;
      margin-left: 30px;
      margin-right: 30px;
      &:first-child {
        margin-top: 0;
      }
      .text {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 26px;
        color: #1F2123;
      }
      .value {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 24px;
        color: #1F2123;
        font-weight: 600;
        margin-left: 15px;
        img {
          vertical-align: middle;
          transform: scale(0.8);
        }
      }
    }
    .notes-title {
      margin-left: 30px;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: Gilroy;
      font-size: 12px;
      line-height: 16px;
      color: #1F2123;
      font-weight: bold;
    }
    .notes {
      margin-left: 30px;
      max-width: 392px;
      padding-left: 15px;
      list-style: circle;
      li {
        margin-bottom: 20px;
        font-family: Gilroy;
        font-size: 12px;
        line-height: 16px;
        color: #1F2123;
        font-weight: 400;
      }
    }
    .operation-currency {
      margin-left: 30px;
      margin-bottom: 30px;
      font-family: Gilroy;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      color: #1F2123;
      .label {
        font-family: Gilroy;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 10px;
        font-weight: bold;
        display: inline-block;
        background: #20AD65;
        border-radius: 20px;
        padding: 1px 10px;
        margin-right: 8px;
        vertical-align: text-top;
      }
      .text {
        line-height: 23px;
        vertical-align: -webkit-baseline-middle;
      }
    }
    .show-stats {
      padding: 20px 30px 30px 54px;
      .title-container {
        display: flex;
        flex-direction: row;
        position: relative;
        .icon {
          position: absolute;
          left: -25px;
          top: 4px;
        }

        .column {
          flex: 1;

          &:first-child {
            font-family: Gilroy;
            font-size: 16px;
            line-height: 26px;
            color: #1F2123;
          }

          .toggle {
            margin-left: auto;
            width: 24px;
            height: 12px;
            margin-top: 7px;
          }
        }
      }

      .asset-description {
        max-width: 350px;
        font-family: Gilroy;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #B6BABE;
        font-weight: 300;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        .label {
          flex: 1 0 31%;
          max-width: 130px;
          margin-right: 10px;
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          background: #B6BABE;
          border-radius: 20px;
          // padding: 1px 7px;
          .text {
            flex: 1;
            font-weight: bold;
            font-family: Gilroy;
            font-size: 10px;
            line-height: 16px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
          }
        }
      }
    }
  }

  .subscribed-step {
    position: relative;
    width: 527px;
    height: 740px;
    .avatar {
      position: absolute;
      top: 154px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      border: 15px solid #fff;
      box-shadow: 0px 10px 20px rgba(105, 105, 105, 0.1);
      height: 203px;
      width: 203px;
    }
    .hand-shake {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 308px;
    }
    .congrat-title {
      position: absolute;
      left: 0;
      right: 0;
      top: 58.92%;
      bottom: 36.76%;
      font-family: Gilroy;
      font-size: 24px;
      line-height: 134.77%;
      text-align: center;
      color: #1F2123;
      font-weight: 600;
    }

    .congrat-description {
      position: absolute;
      left: 0;
      right: 0;
      top: 65%;
      bottom: 31.49%;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #1F2123;
    }
    .button-container {
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: auto;
      width: 160px;
      height: 35px;
    }
  }

  .footer {
    padding: 29px 30px 27px;
    border-top: 1px solid rgba(224, 224, 224, 0.5);
    display: flex;
    cursor: pointer;
    .back-button {
      flex: 1;
      user-select: none;
      font-weight: 600;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #1D62C9;
      border-radius: 40px;
      text-align: left;
      img {
        transform: rotate(180deg);
        margin-right: 8px;
        display: inline-block;
      }
    }
    .next-button {
      cursor: poniter;
      flex: 1;
      user-select: none;
      font-weight: 600;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      border-radius: 40px;
      color: #808080;
      text-align: right;
      img {
        margin-left: 8px;
        display: inline-block;
      }
      &.active {
        color: #1D62C9;
      }
    }
  }

}
