.c-chart {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &__bubble {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 10;
    pointer-events: none;

    &-content {
      position: relative;
      z-index: 1;
      background: #fff;
      padding: 6px 9px;
      border: 1px solid #B6BABE;
      border-radius: 2px;
      transform: translateY(calc(-100% - 17.5px));
      pointer-events: none;

      &:after {
        content: '';
        position: absolute;
        bottom: -7.5px;
        left: 50%;
        z-index: -1;
        width: 15px;
        height: 15px;
        border: 1px solid #B6BABE;
        border-top-color: transparent;
        border-left-color: transparent;
        background-color: #fff;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  &__time {
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: #B6BABE;
  }

  &__info {
    display: flex;
    align-items: center;

    &-feature {
      display: block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      border-radius: 100%;
    }

    &-name {
      margin-right: 10px;
      line-height: 16px;
      text-transform: uppercase;
      font-size: 10px;
      color: #1F2123;
    }

    &-value {
      line-height: 16px;
      text-transform: uppercase;
      font-size: 10px;
      color: #1F2123;
    }
  }
}
