@import '../../styles/mixins';

.c-top-trade-list {

  &__header {
    display: flex;
    padding: 10px 12.5px 0;
    border-bottom: 1px solid #e0e0e0;

    @include mq('desktop') {
      padding: 10px 0 0;
    }

    @include mq('tablet') {
      padding: 10px 12.5px 0;
    }

    @include mq('phone-small') {
      padding: 10px 7.5px 0;
    }

    span {
      position: relative;
      display: block;
      margin-bottom: -2px;
      padding: 7px 12.5px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      white-space: nowrap;
      color: #A8A8A8;

      @include mq('desktop') {
        padding: 7px 10px;
      }

      @include mq('tablet') {
        padding: 7px 12.5px;
      }

      @include mq('phone-small') {
        font-size: 16px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 12.5px;
        bottom: 0;
        left: 12.5px;
        height: 2px;
        background-color: transparent;

        @include mq('desktop') {
          right: 10px;
          left: 10px;
        }

        @include mq('tablet') {
          right: 12.5px;
          left: 12.5px;
        }
      }

      &.is-active {
        font-weight: 500;
        color: #1F2123;

        &::after {
          background-color: #1D62C9;
        }
      }
    }
  }

  &__body {
    padding: 7px 25px 32px;

    @include mq('desktop') {
      padding: 7px 15px 20px;
    }

    @include mq('tablet') {
      padding: 7px 25px 32px;
    }

    @include mq('phone-small') {
      padding: 7px 20px 32px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      @include mq('desktop') {
        margin-bottom: 10px;
      }

      @include mq('tablet') {
        margin-bottom: 20px;
      }

      .user-info {
        display: flex;

        .c-user-icon {
          width: 32px;
          height: 32px;
          background-color: #f2f2f2;
        }

        &__content {
          margin-left: 10px;

          &-title {
            display: block;
            line-height: 16px;
            letter-spacing: 0.3px;
            font-size: 14px;
            font-weight: 500;
            color: #1F2123;
          }

          &-followers {
            display: block;
            line-height: 16px;
            text-transform: capitalize;
            font-size: 10px;
            color: #A8A8A8;
          }
        }
      }

      .user-wallet {
        flex-shrink: 0;

        &__price {
          display: block;
          line-height: 16px;
          text-align: right;
          letter-spacing: 0.3px;
          font-size: 14px;
          color: #20AD65;
        }

        &__crypto {
          display: block;
          line-height: 16px;
          text-align: right;
          text-transform: uppercase;
          font-size: 10px;
          color: #1F2123;
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include mq('desktop') {
      margin-bottom: 15px;
    }

    @include mq('tablet') {
      margin-bottom: 20px;
    }

    @include mq('tablet-xxs') {
      justify-content: space-between;
    }

    @include mq('phone-small') {
      margin-top: 15px;
    }

    &-label {
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #a8a8a8;
    }
  }
}
