@import '../../styles/mixins';

.c-chart-with-controls {

  &__controls {
    display: flex;
    justify-content: space-between;

    @include mq('phone-small') {
      flex-direction: column;
    }
  }

  &__history {
    display: flex;
    align-items: center;

    @include mq('phone-small') {
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &__currency {
    display: flex;
    align-items: center;
    margin-right: 20px;

    @include mq('desktop-small') {
      margin-right: 10px;
    }

    @include mq('tablet') {
      margin-right: 20px;
    }

    &:last-child {

      @include mq('phone-small') {
        margin-right: 0;
      }
    }

    &-feature {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      border-radius: 100%;
    }

    &-name {
      white-space: nowrap;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      color: #B6BABE;

      @include mq('phone-small') {
        font-size: 16px;
      }
    }
  }

  &__type {
    display: flex;

    @include mq('phone-small') {
      justify-content: center;
    }

    button {
      cursor: pointer;
      box-sizing: border-box;
      appearance: none;
      user-select: none;
      outline: none;
      white-space: nowrap;
      padding: 7px 15px;
      border: 1px solid #B6BABE;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 12px;
      color: #BDBDBD;

      @include mq('desktop') {
        padding: 5px 10px;
      }

      @include mq('tablet') {
        padding: 7px 15px;
      }

      @include mq('phone-small') {
        padding: 10px 20px;
        font-size: 16px;
      }

      &:first-child {
        border-right: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.is-active {
        color: #fff;
        background-color: #B6BABE;
      }
    }
  }

  &__title {
    align-self: center;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #B6BABE;
  }
}
