@import '../../styles/mixins';

.c-sidebar {
  flex-shrink: 0;
  width: 206px;
  height: 100vh;
  background: #1F2123;
  overflow-y: auto;
  transition: all 0.7s ease;

  @include mq('desktop') {
    width: 185px;
  }

  @include mq('tablet-wide') {
    width: 88px;
  }

  @include mq('tablet') {
    width: 60px;
  }

  @include mq('tablet-small') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -206px;
    z-index: 10;
    width: 206px;
    margin-top: 50px;
  }

  &.is-active {
    left: 0;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 70px;

    @include mq('tablet') {
      height: 50px;
    }

    @include mq('tablet-small') {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 206px;
      background-color: #1F2123;
    }

    img {

      @include mq('tablet-small') {
        width: 60%;
        margin-left: 20px;
      }
    }
  }

  &__nav {
    margin-top: 65px;
    margin-left: 13px;

    @include mq('desktop') {
      margin-top: 45px;
      margin-left: 10px;
    }

    @include mq('tablet-small') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: calc(100vh - 95px);
    }

    & > div {
      margin-left: -10px;
      margin-bottom: 20px;
    }

    &-list {
      line-height: 20px;
      letter-spacing: 0.25px;
      font-size: 14px;

      @include mq('tablet-small') {
        width: 100%;
      }

      li {
        position: relative;
        margin-bottom: 12px;

        @include mq('tablet') {
          margin-bottom: 20px;
        }

        @include mq('phone-xxs') {
          margin-bottom: 10px;
        }

        a {
          display: flex;
          align-items: center;
          padding: 15px 10px 15px 20px;
          color: #fff;

          @include mq('desktop') {
            padding: 10px;
          }

          @include mq('tablet-wide') {
            padding: 15px 10px 15px 22px;
          }

          @include mq('tablet') {
            padding: 8px 0px 8px 10px;
          }

          svg {
            margin-right: 10px;
            fill: #fff;
          }

          span {
            @include mq('tablet-wide') {
              display: none;
            }

            @include mq('tablet-small') {
              display: block;
            }
          }
        }

        .logout {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 15px 20px;
          color: #fff;

          @include mq('desktop') {
            padding: 10px;
          }

          svg {
            margin-right: 10px;
            fill: #fff;
          }

          span {
            @include mq('tablet-wide') {
              display: none;
            }

            @include mq('tablet-small') {
              display: block;
            }
          }
        }

        &.is-active {
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          background-color: #f6f6f6;

          a {
            color: #1F2123;

            svg {
              fill: #1F2123;
            }
          }

          &::before,
          &::after {
            content: url('./images/nav-feature.svg');
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;

            @include mq('tablet') {
              width: 15px;
              height: 15px;
            }
          }

          &::before {
            top: -19.5px;
            transform: rotate(90deg);

            @include mq('tablet') {
              top: -15.5px;
            }
          }

          &::after {
            bottom: -19.5px;

            @include mq('tablet') {
              bottom: -14.5px;
            }
          }
        }
      }
    }
  }
}
