.stacked-cards-container {
  height: 105px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 5px;
  margin: 30px 32px;
  .item {
    max-width: 318px;
    flex: 1;
    background: #ffffff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    padding: 16px 20px;
    .title {
      color: #A8A8A8;
      font-family: Gilroy;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .value {
      font-family: Gilroy;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.15px;
      font-weight: 500;
      color: #1F2123;
    }
    .description {
      font-family: Gilroy;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #BDBDBD;
    }
    &.first {
      .title {
        color: #FFFFFF;
      }

      .value {
        color: #ffffff;
      }
    }
  }
  .item:last-child {
    border-top-right-radius : 5px;
    border-bottom-right-radius : 5px;
  }
}