@import '../../styles/mixins';

.c-portfolio-history {

  &__row {
    user-select: none;
  }

  &__table {
      display: flex;

      @include mq('desktop-wide') {
        justify-content: space-between;
      }

      @include mq('desktop') {
        overflow-x: auto;
      }
    }

  &__title {
      display: block;
      margin-bottom: 20px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      font-weight: 500;
      color: #A8A8A8;
    }

  &__text {
      display: block;
      margin-bottom: 15px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      font-weight: 500;
      color: #20AD65;

      &.is-loss {
        color: #E75152;
      }
    }
}
