@import '../../styles/mixins';

.c-stats {

  &__title {
    margin: 25px 18px 30px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #B6BABE;

    @include mq('desktop') {
      margin: 15px 10px;
    }

    @include mq('tablet') {
      margin: 25px 18px 30px;
    }

    @include mq('phone-wide') {
      margin-bottom: 20px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin: 0 18px;

    @include mq('desktop') {
      margin: 0 10px;
    }

    @include mq('desktop-small') {
      align-items: flex-start;
    }

    @include mq('tablet') {
      margin: 0 18px;
    }

    @include mq('tablet-small') {
      justify-content: space-between;
    }

    @include mq('phone-small') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 215px;
    margin-bottom: 30px;

    @include mq('desktop') {
      margin-bottom: 20px;
    }

    @include mq('desktop-small') {
      max-width: 115px;
    }

    @include mq('tablet') {
      max-width: 215px;
      margin-bottom: 30px;
    }

    @include mq('tablet') {
      margin-bottom: 15px;
    }

    @include mq('phone-small') {
      width: 100%;
      max-width: unset;
    }

    &-row {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid #F2F2F2;

      @include mq('desktop') {
        padding: 10px 0;
      }

      @include mq('desktop-small') {
        flex-direction: column;
        padding: 5px 0;
      }

      @include mq('tablet') {
        flex-direction: row;
        padding: 20px 0;
      }

      @include mq('phone-wide') {
        padding: 10px 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__item {

    @include mq('phone-small') {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
    }

    &:first-child {
      width: 45%;

      @include mq('desktop') {
        width: 42%;
      }

      @include mq('desktop-small') {
        width: 100%;
        margin-bottom: 5px;
      }

      @include mq('tablet') {
        width: 45%;
      }
    }

    &:last-child {
      width: 55%;

      @include mq('desktop') {
        width: 58%;
      }

      @include mq('desktop-small') {
        width: 100%;
      }

      @include mq('tablet') {
        width: 55%;
      }
    }

    &-title {
      margin-bottom: 4px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #B6BABE;

      @include mq('desktop-small') {
        margin-bottom: 0;
      }

      @include mq('tablet') {
        margin-bottom: 4px;
      }
    }

    &-value {
      line-height: 24px;
      letter-spacing: 0.15px;
      font-size: 18px;
      color: #1F2123;

      @include mq('desktop') {
        font-size: 16px;
      }

      @include mq('tablet') {
        font-size: 18px;
      }
    }
  }

  &__chart {

    &-wrap {
      padding: 30px 0 !important;

      @include mq('tablet') {
        padding: 70px 0 !important;
      }
    }
  }

  &-rank {
    position: relative;
    margin-right: 35px;
    margin-bottom: 30px;

    @include mq('desktop') {
      margin-right: 25px;
      margin-bottom: 20px;
    }

    @include mq('desktop-small') {
      margin-right: 15px;
    }

    @include mq('tablet') {
      margin-right: 35px;
      margin-bottom: 30px;
    }

    @include mq('tablet') {
      margin-right: 15px;
      margin-bottom: 15px;
    }

    @include mq('phone-small') {
      margin-right: 0;
    }

    &__round-chart {
      transform: rotate(-90deg);
    }

    &__title {
      position: absolute;
      top: 20%;
      left: 50%;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #A8A8A8;
      transform: translateX(-50%);

      @include mq('tablet') {
        font-size: 16px;
      }

      @include mq('phone-wide') {
        font-size: 14px;
      }

      @include mq('phone-small') {
        font-size: 16px;
      }
    }

    &__number {
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 73px;
      font-size: 60px;
      font-weight: 600;
      color: #A7C2F1;
      transform: translate(-50%, -50%);
      word-break: keep-all;

      @include mq('desktop-small') {
        font-size: 44px;
      }

      @include mq('tablet') {
        font-size: 70px;
      }

      @include mq('phone-wide') {
        font-size: 44px;
      }

      @include mq('phone-small') {
        font-size: 70px;
      }
    }
  }
}

.accordion {
  border: 0 !important;
  border-top: 1px solid #E0E0E0 !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  overflow: hidden;

  &__button {
    padding: 5px !important;
    line-height: 16px;
    text-align: center !important;
    font-size: 12px;
    color: #fff !important;
    background-color: #B6BABE !important;

    @include mq('phone-wide') {
      padding: 12px !important;
    }

    @include mq('phone-wide') {
      padding: 10px !important;
    }

    &:hover {
      background-color: #9FA2A6 !important;
    }

    &::before {
      all: unset !important;
    }
    svg {
      margin-left: 5px;
    }
  }

  &__panel {
    @include mq('desktop') {
      padding: 10px !important;
    }
  }
}
