@import '../../styles/mixins';

.c-user-activity-data {
  display: flex;
  box-sizing: border-box;
  padding: 20px 10px;
  border-top: 2px solid #f2f2f2;

  @include mq('desktop') {
    padding: 10px 0;
  }

  @include mq('tablet') {
    padding: 20px 10px;
  }

  @include mq('tablet-xxs') {
    padding: 10px 0;
  }

  @include mq('phone-wide') {
    flex-direction: column;
    min-width: 110px;
    padding: 20px 10px;
  }

  @include mq('phone') {
    justify-content: center;
    flex-direction: row;
  }

  &__item {
    box-sizing: border-box;
    width: 33.333333%;
    margin: 0 10px;

    @include mq('phone-wide') {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
    }

    .label {
      display: block;
      white-space: nowrap;
      margin-bottom: 10px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #A8A8A8;

      @include mq('desktop') {
        margin-bottom: 0;
        font-size: 13px;
      }

      @include mq('tablet') {
        margin-bottom: 10px;
        font-size: 14px;
      }

      @include mq('tablet-xxs') {
        margin-bottom: 0;
        font-size: 13px;
      }

      @include mq('phone-wide') {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    .count {
      display: block;
      line-height: 30px;
      letter-spacing: 0.15px;
      font-size: 22px;
      font-weight: 600;
      color: #1F2123;

      @include mq('tablet-xxs') {
        font-size: 18px;
      }

      @include mq('phone-wide') {
        font-size: 22px;
      }
    }
  }
}
