@import '../../styles/mixins';

.l-members-page {
  overflow-y: auto;
  padding: 0 30px;

  @include mq('desktop-wide') {
    padding: 0 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 20px 10px;

    @include mq('desktop-wide') {
      padding: 10px;
    }

    svg {
      margin-right: 15px;
      fill: #828282;
      transform: rotate(90deg);
    }

    span {
      line-height: 26px;
      font-size: 16px;
      color: #828282;
    }
  }

  &__content {

    &-card {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      background: #fff;

      @include mq('desktop-wide') {
        margin-bottom: 15px;
      }

      @include mq('phone-wide') {
        align-items: center;
      }

      @include mq('phone') {
        flex-direction: column;
        align-items: flex-start;
      }

      &.full-width {
        justify-content: space-between;
        width: 100%;

        @include mq('tablet') {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        @include mq('phone') {
          flex-direction: row;
        }

        .c-data-card {

          @include mq('tablet') {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          @include mq('phone') {
            width: 50%;
          }

          &:last-child {
            margin-right: 90px;

            @include mq('desktop-wide') {
              margin-right: 0;
            }
          }

          &.is-mid-size {

            @include mq('tablet') {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 33.333333%;
            }

            @include mq('phone') {
              width: 50%;
            }
          }
        }
      }
    }
  }

  &__row {
    display: flex;

    @include mq('tablet') {
      flex-direction: column;
    }
  }

  &__column {

    &.is-left {
      flex-shrink: 0;
      margin-right: 30px;

      @include mq('desktop-wide') {
        margin-right: 15px;
      }

      @include mq('tablet') {
        margin-right: 0;
      }

      .c-profile-card {

        @include mq('phone-wide') {
          flex-direction: column;
          max-width: 180px;
        }

        @include mq('phone') {
          max-width: unset;
          width: 100%;
        }
      }

      .l-members-page__row {

        @include mq('tablet') {
          flex-direction: row;
        }

        @include mq('phone') {
          flex-direction: column;
        }

        .is-left {

          @include mq('tablet') {
            margin-right: 15px;
          }

          @include mq('phone') {
            margin-right: 0;
          }
        }
      }
    }

    &.is-right {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .l-members-page__content-card {

        &:first-child {
          flex-grow: 1;

          @include mq('tablet') {
            order: 2;
          }
        }

        .c-about-card__text {
          max-width: unset;
        }
      }

      .c-data-card {

        @include mq('tablet') {
          align-items: flex-start;
          width: auto;
        }

        @include mq('phone-small') {
          padding: 10px;
        }
      }
    }

    .is-half {
      width: 50%;

      @include mq('phone') {
        width: 100%;
      }

      .c-data-card {

        @include mq('tablet') {
          align-items: flex-start;
          width: 100%;
        }

        @include mq('phone-small') {
          padding: 10px;
        }
      }
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include mq('tablet') {
      flex-grow: 1;
    }

    @include mq('phone') {
      width: 100%;
      padding-top: 15px;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__rank {
    display: flex;
    width: 100%;

    @include mq('tablet') {
      flex-direction: column;
    }

    &-label {
      display: block;
      line-height: 24px;
      font-size: 18px;
      color: #B6BABE;
    }

    &-value {
      line-height: 128.91%;
      letter-spacing: 0.25px;
      font-size: 40px;
      font-weight: 600;
      color: #1F2123;
    }

    &-data {
      min-width: 500px;
      padding: 28px 50px 28px 20px;
      border-right: 1px solid #E0E0E0;

      @include mq('desktop') {
        min-width: unset;
        padding: 15px 25px 10px 10px;
      }

      @include mq('desktop-small') {
        min-width: 400px;
        padding-right: 10px;
      }

      @include mq('tablet') {
        padding: 28px 50px 28px 20px;
      }

      @include mq('phone') {
        min-width: unset;
        padding-right: 20px;
      }

      @include mq('phone-small') {
        padding: 15px 10px;
      }
    }

    &-chart {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .c-data-card {
    padding: 22px 20px;

    @include mq('desktop') {
      padding: 10px;
    }

    @include mq('tablet') {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.333333%;
      padding: 22px 20px;
    }

    &__title {
      display: block;
      margin-bottom: 10px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #A8A8A8;

      @include mq('tablet') {
        text-align: center;
      }

      svg {
        margin-left: 5px;
      }
    }

    &__value {
      display: flex;
      align-items: center;

      &-main {
        display: block;
        line-height: 30px;
        letter-spacing: 0.15px;
        font-size: 26px;
        color: #1F2123;

        &.is-loss {
          color: #E75152;
        }
      }

      &-secondary {
        align-self: flex-end;
        display: block;
        margin-left: 10px;
        line-height: 24px;
        letter-spacing: 0.15px;
        font-size: 18px;
        color: #20AD65;
      }

      svg {
        margin-left: 15px;
      }
    }

    &.is-mid-size {
      padding: 13px 20px 18px;

      @include mq('desktop') {
        padding: 10px;
      }

      .c-data-card__title {
        margin-bottom: 3px;
      }

      .c-data-card__value {

        &-main {
          line-height: 24px;
          font-size: 18px;
        }
      }
    }

    &.c-trading-card {

      @include mq('tablet') {
        width: 100%;
      }

      @include mq('phone-wide') {
        align-items: flex-start;
        padding: 13px 20px 18px;
      }

      .c-trading-card__row {

        @include mq('tablet') {
          flex-wrap: wrap;
        }

        &-item {

          @include mq('tablet') {
            display: flex;
            justify-content: center;
            width: 33.333333%;
            margin-right: 0;
          }

          @include mq('phone-wide') {
            justify-content: flex-start;
            width: 50%;
          }

          @include mq('phone-small') {
            justify-content: center;
            width: 100%;
          }
        }
      }

      .c-data-card__title {

        @include mq('phone-small') {
          align-self: center;
        }
      }
    }
  }

  .c-trading-card {
    padding: 13px 20px 18px;

    @include mq('desktop') {
      padding: 10px;
    }

    &__row {
      display: flex;
      margin-top: 3px;

      &-item {
        display: block;
        margin-right: 50px;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-size: 14px;
        color: #1F2123;

        @include mq('desktop') {
          margin-right: 20px;
        }
      }
    }
  }

  .c-user-activity-data {
    border-top: 0;

    @include mq('phone-wide') {
      flex-direction: row;
      justify-content: center;
    }

    &__item {

      @include mq('tablet') {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
      }

      @include mq('phone-wide') {
        margin: 0 10px;
      }
    }
  }

  .c-progress-circle {
    margin-bottom: 10px;

    &__round-chart {
      margin-bottom: 0;
    }

    &__percent {
      font-size: 24px;
    }

    &__sum {
      margin-top: 5px;
      font-size: 14px;
    }
  }

  .c-stats-rank {
    margin: 0 10px 10px;

    &__title {
      top: 30%;
      font-size: 12px;
    }

    &__number {
      top: 60%;
      font-size: 24px;
    }
  }

  .c-stats-list {

    &__column {

      @include mq('phone') {
        justify-content: space-around;
        width: 49%;
      }

      @include mq('phone-small') {
        width: 100%;
      }
    }

    &__item {

      @include mq('phone-small') {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .c-card-short {
    margin-top: 11px;
    margin-bottom: 18px;
  }

  .c-stats {

    &__chart-wrap {
      width: 450px;

      @include mq('desktop-small') {
        width: 100%;
      }

      @include mq('tablet') {
        padding: 90px 0 !important;
      }

      @include mq('phone-wide') {
        padding: 60px 0 !important;
      }
    }
  }

  .c-portfolio {
    display: flex;
    width: 100%;
    padding: 0;

    @include mq('tablet') {
      flex-direction: column;
    }

    &-history {
      min-width: 450px;
      padding: 25px 115px 50px 25px;

      @include mq('desktop-wide') {
        overflow: hidden;
        padding-right: 25px;
      }
      @include mq('desktop') {
        padding: 15px 25px 10px 10px;
      }

      @include mq('tablet') {
        min-width: unset;
        padding: 25px 20px;
      }

      @include mq('phone-small') {
        padding: 15px 10px;
      }

      &__row {
        overflow-x: auto;
      }
    }

    &__row {
      flex-grow: 1;
      padding: 25px 50px 20px 20px;
      border-right: 1px solid #E0E0E0;

      @include mq('desktop') {
        padding: 15px 25px 10px 10px;
      }

      @include mq('tablet') {
        padding: 25px 20px;
        border-right: 0;
      }

      @include mq('phone-small') {
        padding: 15px 10px;
      }
    }

    &__platform {
      width: 17%;

      @include mq('desktop') {
        width: 25%;
      }

      @include mq('desktop-small') {
        width: 33.333333%;
      }

      @include mq('tablet') {
        width: 20%;
      }

      @include mq('phone-wide') {
        width: 25%;
      }

      @include mq('phone') {
        width: 33.333333%;
      }
    }

    &__stats {
      max-width: 500px;

      @include mq('desktop') {
        max-width: 350px;
      }

      @include mq('desktop-small') {
        max-width: 250px;
      }

      @include mq('tablet') {
        max-width: unset;
      }
    }

    &__2col {
      justify-content: flex-start;

      @include mq('phone') {
        flex-direction: column;
      }
    }

    &__chart {
      margin-right: 40px;

      @include mq('phone') {
        align-self: center;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .c-profile-card {

    &__img {
      width: 70px;
      height: 70px;

      @include mq('tablet') {
        width: 92px;
        height: 92px;
      }
    }

    &__info {

      @include mq('phone-wide') {
        flex-direction: column;
        padding: 10px;
      }

      @include mq('phone') {
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
      }

      @include mq('phone-small') {
        padding: 15px 10px;
      }
    }

    &__content {

      @include mq('phone-wide') {
        display: flex;
        flex-direction: column;
      }

      &-title {

        @include mq('phone-wide') {
          align-self: center;
        }

        .name {

          @include mq('desktop-wide') {
            margin-bottom: 0;
          }
        }
      }
    }

    &__unsubscribe {
      margin: 0 10px 20px;
    }
  }

  .c-chart-polygon {

    @include mq('desktop-small') {
      padding: 0 100px !important;
    }

    @include mq('tablet') {
      padding: 0 150px !important;
    }

    @include mq('phone-wide') {
      padding: 0 110px !important;
    }

    @include mq('phone-small') {
      padding: 0 70px !important;
    }
  }

  .c-about-card {

    @include mq('phone-small') {
      padding: 15px 10px 20px;
    }
  }

  .l-profile__activity-wrap {
    width: 100%;
  }

  .c-activity {
    width: 100%;
    overflow: hidden;
  }
}
