.normal-button {
  &.contained {
    background: #1D62C9;
    border-radius: 50px;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    padding: 15.5px 10px;
    font-weight: bold;
    box-shadow: 0px 14px 20px rgba(24, 62, 181, 0.26);
    transition: all 0.4s ease;
    transform: translate(0, 0);
    &:hover,
    &:focus {
      box-shadow: none;
      transform: translate(-1px, -1px);
    }
  }
  
  &.outlined {
    background: transparent;
    border-radius: 50px;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D62C9;
    width: 100%;
    cursor: pointer;
    padding: 13.5px 10px;
    font-weight: bold;
    border: 2px solid #1D62C9;
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: none;
    transform: translate(0, 0);
    &:hover,
    &:focus {
      box-shadow: 0px 14px 20px rgba(148, 163, 207, 0.2);
      transform: translate(1px, -1px);
    }
  }
}

