.c-column {
  .cell {
    flex: 1;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: #656565;
    border: 0.5px solid #E4E4E4;
    &.header {
      flex: 1;
      font-family: Gilroy;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0;
      color: #656565;
      padding: 1px;
      border: 0.5px solid #E4E4E4;
    }
  }
}