@import '../../styles/mixins';

.c-lang-select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  outline: none;
  max-width: 100px;
  padding: 0 10px !important;
  border: 0 !important;
  line-height: 26px;
  font-size: 16px;
  color: #1F2123;
  background-color: #fff !important;

  &:focus-within,
  &:hover,
  &:focus {
    border: 0 !important;
    box-shadow: none !important;
  }

  &__list {

    &-item {
      cursor: pointer;
      padding: 6px 20px;
      line-height: 20px;
      letter-spacing: 0.25px;
      font-size: 14px;
      color: #000;
      background-color: #fff;

      &:hover {
        background-color: #F5F5F5;
      }
    }
  }

  .react-dropdown-select-input {
    display: none;
  }
}
