.l-profit {
  .section {
    display: flex;
    flex-direction: row; 
    padding: 30px 32px 0 32px;
    border-bottom: 5px solid #F2F2F2;
    .column {
      margin-right: 106px;
      flex: 1;
      &:last-child {
        align-self: flex-end;
      }
    }
    .total-card {
      max-width: 318px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #f2f2f2;
      padding: 20px 20px 33px;
      .label {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.3px;
        color: #A8A8A8;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .value-usd {
        font-family: Gilroy;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #1F2123;
        font-weight: 500;
      }
      .value-btc {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #BDBDBD;
        font-weight: 500;
      }
    }
  }
}
