.account-settings {
  .divider {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
  }
  .head {
    .title {
      padding: 0 20px;
      .text {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 24px;
        color: #B6BABE;
        font-weight: bold;
        margin-right: 35px;
      }
    }
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    .column {
      flex: 1;
      padding: 20px;
    }
  }
  .footer-container-default {
    height: 95px;
    padding: 30px;
    .add-new {
      display: block;
      cursor: pointer;
      background: #1D62C9;
      border-radius: 50px;
      padding: 7px 28px 9px 28px;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      font-weight: bold;
      margin-left: auto;
    }
  }
}
