@import '../../styles/mixins';

.c-profile-card {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 5px;
  background-color: #fff;

  @include mq('tablet-small') {
    width: 50%;
    min-width: 285px;
    border-bottom-right-radius: 0;
  }

  @include mq('tablet-xxs') {
    width: auto;
    min-width: unset;
  }

  @include mq('phone-wide') {
    display: flex;
  }

  @include mq('phone') {
    display: block;
  }

  &__info {
    display: flex;
    padding: 20px;

    @include mq('desktop') {
      padding: 10px;
    }

    @include mq('tablet') {
      padding: 20px;
    }

    @include mq('tablet-xxs') {
      padding: 10px;
    }

    @include mq('phone-wide') {
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 92px;
    height: 92px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #E5E5E5;

    @include mq('desktop') {
      width: 80px;
      height: 80px;
    }

    @include mq('tablet') {
      width: 92px;
      height: 92px;
    }

    @include mq('tablet-xxs') {
      width: 80px;
      height: 80px;
    }

    @include mq('phone-wide') {
      width: 92px;
      height: 92px;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    margin-left: 10px;

    @include mq('phone-wide') {
      min-width: 150px;
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .name {
        line-height: 135%;
        font-size: 24px;
        font-weight: 800;
        color: #1F2123;

        @include mq('desktop') {
          margin-bottom: 3px;
          font-size: 20px;
        }

        @include mq('tablet') {
          margin-bottom: 8px;
          font-size: 24px;
        }

        @include mq('tablet-xxs') {
          margin-bottom: 3px;
          font-size: 20px;
        }

        @include mq('phone-wide') {
          margin-bottom: 8px;
          font-size: 24px;
        }
      }

      .currency {
        margin-left: 8px;
        padding: 1px 10px;
        border-radius: 10px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 12px;
        color: #FFFFFF;
        background-color: #20AD65;
      }
    }

    &-tags {
      max-width: 140px;

      @include mq('tablet') {
        max-width: 150px;
      }

      @include mq('phone-wide') {
        max-width: 210px;
      }

      .is-second,
      .is-main {

        span {
          box-sizing: border-box;
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 0 10px;
          border: 2px solid #f2f2f2;
          border-radius: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          color: #BDBDBD;

          @include mq('desktop') {
            margin-right: 3px;
            margin-bottom: 3px;
            padding: 0 7px;
          }

          @include mq('tablet') {
            margin-right: 5px;
            margin-bottom: 5px;
            padding: 0 10px;
          }

          @include mq('tablet-xxs') {
            margin-right: 3px;
            margin-bottom: 3px;
            padding: 0 7px;
          }

          @include mq('phone-wide') {
            margin-right: 5px;
            margin-bottom: 5px;
            padding: 0 10px;
          }
        }
      }

      .is-second {

        span {
          border-color: #E0E0E0;
          color: #fff;
          background-color: #E0E0E0;
        }
      }
    }
  }

  &__unsubscribe {
    margin: 0 20px 20px;

    button {
      cursor: pointer;
      appearance: none;
      user-select: none;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      padding: 6px 20px;
      border: 2px solid #1D62C9;
      border-radius: 50px;
      line-height: 19px;
      text-align: center;
      font-size: 16px;
      color: #1D62C9;
    }
  }

  &__subscribe-edit {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    margin-bottom: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    font-size: 14px;
    color: #1D62C9;

    svg {
      margin-right: 5px;
    }
  }
}
