.l-profile {
  flex-grow: 1;
  padding: 30px;
  background-color: #E5E5E5;

  &__column {
    margin-right: 30px;
  }

  &__content {
    display: flex;

    &-card {
      box-sizing: border-box;
      margin-bottom: 30px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      background: #fff;
    }
  }
}
