@import '../../styles/mixins';

.c-stats-list {
  display: flex;
  justify-content: space-between;

  @include mq('phone-small') {
    flex-direction: column;
    align-items: center;
  }

  &__column {
    width: 48%;

    @include mq('phone-small') {
      width: 70%;
      margin-bottom: 10px;
    }
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &-name {
      display: block;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-size: 14px;
      color: #B6BABE;

      @include mq('tablet') {
        font-size: 16px;
      }

      @include mq('phone-wide') {
        font-size: 14px;
      }

      @include mq('phone') {
        font-size: 13px;
      }

      @include mq('phone-small') {
        font-size: 16px;
      }
    }

    &-value {
      display: block;
      margin-top: 3px;
      line-height: 24px;
      font-size: 16px;
      color: #1F2123;

      @include mq('tablet') {
        line-height: 30px;
        font-size: 20px;
      }

      @include mq('phone-small') {
        font-size: 22px;
      }
    }
  }
}
