@import '../../styles/mixins';

.c-chart-polygon {
  padding: 0 100px;

  @include mq('desktop-small') {
    padding: 0 60px !important;
  }

  @include mq('tablet') {
    padding: 0 130px !important;
  }

  @include mq('tablet-xxs') {
    padding: 0 100px !important;
  }

  @include mq('phone-wide') {
    padding: 0 80px !important;
  }

  @include mq('phone-small') {
    padding: 0 60px !important;
  }

  &__history {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__item {
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #A8A8A8;

    &.is-top {
      .c-chart-polygon__item-inner {
        transform: translate(-50%, 0%);
      }
    }
  }

  &__item-inner {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 59px;
  }

  &__svg-wrap {
    position: relative;
  }
}
