.l-profit-lose {
  .divider {
    height: 5px;
    width: 100%;
    background: #F2F2F2;
  }
  .chart-container {
    margin: 32px;
    .title {
      font-family: Gilroy;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.3px;
      font-weight: 500;
      color: #A8A8A8;
      margin-bottom: 5px;
    }
    .chart-footer {
      display: flex;
      flex-direction: row;
      margin-top: -30px;
      .column {
        flex: 1;
        display: flex;
        flex-direction: row;
        .legend-item {
          position: relative;
          padding-left: 12px;
          margin-right: 37px;
          span {
            font-family: Gilroy;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #B6BABE;
            font-weight: 600;

          }
          &:first-child:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 5px;
            background: #1D62C9;
            height: 7px;
            width: 7px;
            border-radius: 50%;
          }
          &:last-child:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 5px;
            background: #20AD65;
            height: 7px;
            width: 7px;
            border-radius: 50%;
          }
        }
        .checkbox-container {
          margin-left: 35px;
        }
        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
  .info-container {
    margin: 26px 33px 0;
    display: flex;
    flex-direction: row;
    .column {
      flex: 1;
      margin-right: 106px;
    }
    .make-payment {
      background: #F2F2F2;
      padding: 20px 32px 30px 32px;
      .title {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 24px;
        color: #1F2123;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .divider {
        height: 5px;
        width: 100%;
        background: #E0E0E0;
      }
      .description {
        font-family: Gilroy;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #1F2123;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      .services {
        display: flex;
        flex-direction: row;
        max-width: 235px;
        margin-left: -12px;
        .service {
          align-self: center;
          flex: 1;
        }
      }
      .button {
        cursor: pointer;
        background: #1D62C9;
        border-radius: 50px;
        padding: 7px 0 9px 0;
        font-family: Gilroy;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
      }
    }
  }

  .history-container {
    padding: 26px 33px;
    .title {
      font-family: Gilroy;
      font-size: 16px;
      line-height: 24px;
      color: #1F2123;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .table {
      border: 1px solid transparent;
      position: relative;
      overflow: hidden;

      .table-head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 3px;

        .head-cell {
          flex: 1;
          font-weight: 500;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.3px;
          color: #A8A8A8;
        }
      }

      .table-rows {
        padding: 5px 0px;
        display: flex;
        flex-direction: column;

        .row {
          align-items: center;
          display: flex;
          flex: 1;
          flex-direction: row;
          padding: 7px 0;
          border-bottom: 1px solid #E0E0E0;
          .item {
            flex: 1;
            font-family: Gilroy;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.5px;
            color: #1F2123;
          }
        }
      }
    }
    .pagination {
      margin: 40px auto 10px;
      max-width: 300px;
      display: flex;
      flex-direction: row;
      li {
        flex: 1;
        font-family: Gilroy;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #BDBDBD;
        &.active {
          color: #000000;
        }
        &.previous,
        &.next {
          color: #000;
        }
      }
    }
  }
}
