.c-title {
  text-align: left;
  &.B1 {
    /* B1 */
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
  }
  &.H4 {
    /* H4 */
    font-family: Gilroy;
    font-size: 40px;
    line-height: 128.91%;
    /* identical to box height, or 52px */
    letter-spacing: 0.25px;
  }
  &.bold {
    font-weight: bold;
  }

  &.normal {
    font-weight: normal;
  }
}