@import '../../styles/mixins';

.c-about-card {
  width: 100%;
  padding: 25px 45px 60px 20px;

  @include mq('desktop') {
    padding: 15px 30px 40px 10px;
  }

  @include mq('tablet') {
    padding: 25px 45px 60px 20px;
  }

  @include mq('phone-wide') {
    padding-bottom: 40px;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    line-height: 16px;
    letter-spacing: 0.3px;
    font-size: 14px;
    color: #B6BABE;
  }

  &__text {
    max-width: 220px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-size: 14px;
    color: #1F2123;

    @include mq('tablet') {
      max-width: unset;
    }
  }
}
