.trading-type-wrapper {
  .divider {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
  }
  .trading-type {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .column {
      padding: 0 32px 32px;
      margin-right: 64px;
      flex: 1;
      .title {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 24px;
        color: #B6BABE;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .radio {
        margin-top: 24px;
        label {
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: #000000;
          font-weight: 600;
          input {
            margin-right: 8px;
          }
        }
        .description {
          font-family: Gilroy;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: #000000;
          padding-left: 20px;
          margin-top: 7px;
          min-height: 80px;
          &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
          }
        }
        .notes {
          font-family: Gilroy;
          font-size: 12px;
          line-height: 16px;
          color: #B6BABE;
          font-weight: 600;
          padding-left: 20px;
          margin-bottom: 24px;
        }
      }
    }
  }
  .footer-container-default {
    height: 95px;
    padding: 30px;
    .add-new {
      display: block;
      cursor: pointer;
      background: #1D62C9;
      border-radius: 50px;
      padding: 7px 28px 9px 28px;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      font-weight: bold;
      margin-left: auto;
    }
  }
  .footer-container-saved {
    padding: 42px;
    height: 95px;
    background: #E9F0FC;
    border-radius: 4px;
    .content {
      text-align: center;
      .icon {
        margin-right: 8px;
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
        background: #1D62C9;
      }
      .text {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #1F2123;
      }
    }
  }
}

