.stats-progress {
  position: relative;
  width: 208px;
  height: 20px;
  padding: 0 5px;
  background: #A7C2F1;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .column {
    z-index: 10;
    flex: 1;
    font-family: Gilroy;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    &.percent {
      text-align: right;
      flex: 0.5;
    }
  }
  .progress {
    transition: all .3s ease-in-out;
    right: 0;
    z-index: 5;
    border-radius: 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1d62c9;
  }
}