@import '../../styles/mixins';

.l-login {
  position: relative;
  background-color: #F6F6F6;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  @include mq('desktop-small') {
    flex-direction: column;
  }

  &__background {
    flex: 1;
    position: relative;
    height: 100vh;

    @include mq('desktop-small') {
      flex: 0.5;
      background: #1D62C9;
    }

    @include mq('phone-wide') {
      display: none;
      flex: 1;
      padding: 70px;
    }

    .img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      @include mq('desktop-small') {
        display: none;
      }
    }

  }

  &__logo {
    width: 286px;
    height: 71px;
    position: absolute;
    top: 90px;
    left: 100px;
    z-index: 1;
    @include mq('desktop-small') {
      left: 0;
      right: 0;
      margin: auto;
    }
    @include mq('phone-wide') {
      top: 40px;
    }
  }

  &__form {
    flex: 1;
    align-self: center;
    padding-bottom: 130px;
    @include mq('desktop-small') {
      flex: 0.3;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include mq('phone-wide') {
      flex: 1;
      padding-top: 0px;
    }
    .wrapper {
      width: 456px;
      margin: auto;
      @include mq('phone-wide') {
        width: 100%;
      }
      .title-wrapper {
        margin-bottom: 30px;
        div {
          @include mq('desktop-small') {
            text-align: center;
          }
          @include mq('phone-wide') {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
  
      .flex-container {
        display: flex;
        flex-direction: row;
        @include mq('phone-wide') {
          flex-direction: column;
          .column {
            &:first-child {
              margin-right: 16px;
              margin-left: 16px;
              margin-top: 16px;
            }

            &:last-child {
              margin-top: 16px;
              margin-right: 16px;
              margin-left: 16px;
            }
          }
        }
        .column {
          flex: 1;
          &:first-child {
            margin-right: 16px;
          }
          &:last-child {
            margin-left: 16px;
          }

        }
      }
      .checkbox-wrapper {
        margin-top: 29px;
        margin-bottom: 35px;
        @include mq('phone-wide') {
          margin-right: 16px;
          margin-left: 16px;
        }

      }
    }
  }

}