@import '../../styles/mixins';

.c-members-card {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(105, 105, 105, 0.1);
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  overflow: hidden;
  display: flex;

  &__content {
    display: flex;
    flex-grow: 1;

    @include mq('tablet-small') {
      flex-direction: column;
      width: 100%;
    }
  }

  &__left {
    width: 249px;
    box-shadow: 0px 10px 20px rgba(105, 105, 105, 0.1);
    border-radius: 5px;
    border-right: 1px solid #F2F2F2;

    @include mq('desktop') {
      display: flex;
      flex-direction: column;
      width: auto;
    }

    @include mq('tablet-small') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include mq('phone-wide') {
      flex-direction: column;
    }

    .c-members-card__top {
      display: flex;
      padding: 25px 20px 17px;

      @include mq('desktop') {
        padding: 15px 10px 13px;
      }

      @include mq('phone-small') {
        flex-direction: column;
      }
    }

    .c-members-card__bottom {
      margin-top: 10px;
      padding: 15px 20px 13px;
      border-top: 1px solid #E0E0E0;

      @include mq('desktop') {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 15px 10px 13px;
      }

      @include mq('tablet-small') {
        margin-top: 0;
        border-top: 0;
        border-left: 1px solid #E0E0E0;
      }

      @include mq('phone-wide') {
        border-left: 0;
      }
    }

    .c-members-card__column:first-child {
      width: 101px;
      margin-right: 13px;

      @include mq('desktop') {
        width: 80px;
      }

      @include mq('tablet-small') {
        display: flex;
        width: auto;
        align-items: center;
      }

      @include mq('phone') {
        flex-direction: column;
      }

      @include mq('phone-small') {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .c-members-card__column:last-child {

      @include mq('tablet-small') {
        display: flex;
        align-items: center;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 20px 14px;

    @include mq('desktop') {
      padding-right: 10px;
      padding-bottom: 0;
      padding-left: 10px;
    }

    .c-members-card__top {
      width: 100%;
      //display: flex;
      //align-items: flex-end;
      //justify-content: space-between;
      //
      //@include mq('phone-wide') {
      //  flex-wrap: wrap;
      //  margin-bottom: 10px;
      //}
      //
      //@include mq('phone-small') {
      //  justify-content: center;
      //}
    }

    .c-members-card__bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      margin-right: 30px;

      @include mq('desktop') {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: 0;
        padding-top: 0;
      }

      @include mq('phone') {
        justify-content: center;
      }
    }
  }

  &__photo-wrap {
    position: relative;
  }

  &__history {
    display: flex;

    @include mq('phone-wide') {
      order: 3;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
    }
  }

  &__currency {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &-feature {
      width: 7px;
      height: 7px;
      margin-right: 5px;
      border-radius: 100%;
    }

    &-name {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.15px;
      color: #1F2123;
    }
  }

  &__photo {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    overflow: hidden;

    @include mq('desktop') {
      width: 80px;
      height: 80px;
    }

    @include mq('phone-small') {
      width: 101px;
      height: 101px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__rank {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #F2F2F2;
    font-size: 14px;
    background: #FFFFFF;
    width: 35px;
    height: 35px;

    @include mq('desktop') {
      bottom: -5px;
    }

    @include mq('phone-small') {
      bottom: 0;
    }
  }

  &__name {
    margin-top: 12px;
    font-size: 18px;
    line-height: 24px;
    color: #1F2123;
    border-radius: 10px;
    font-weight: 600;

    @include mq('desktop') {
      font-size: 16px;
    }

    @include mq('phone-wide') {
      margin-top: 0;
      margin-left: 10px;
    }

    @include mq('phone') {
      margin-top: 16px;
      margin-left: 0;
    }

    @include mq('phone-small') {
      margin-top: 10px;
    }
  }

  &__features {

    &-tags {
      margin-top: 1px;

      span:not(:first-child) {
        margin-left: 3px;
      }

      span {
        display: inline-flex;
        width: 19px;
        height: 19px;
        background: #fff;
        border: 2px solid #F2F2F2;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 12px;
        color: #BDBDBD;

        &.is-secondary {
          width: auto;
          padding-left: 8px;
          padding-right: 8px;
          background: #E0E0E0;
          border-radius: 20px;
          border: none;
          letter-spacing: 0.25px;
          color: #FFFFFF;
        }
      }
    }

    &-subscribers {
      margin-top: 15px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }
  }

  &__income {
    font-size: 18px;
    line-height: 26px;
    color: #1F2123;

    &-heading {
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.3px;
      color: #A8A8A8;
      margin-bottom: 8px;
    }

    b {
      display: inline-block;
      font-weight: 600;
    }

    p {
      display: inline-block;
    }
  }

  &__subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    outline: none;
    width: 40px;
    min-width: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    background: #1D62C9;

    @include mq('phone-wide') {
      width: 100%;
      height: 40px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
    }

    svg {
      display: block;
      fill: #fff;
      transform: rotate(-90deg);

      @include mq('phone-wide') {
        transform: rotate(0);
      }
    }
  }

  &__info-item {

    @include mq('desktop') {
      width: 25%;
      margin-bottom: 10px;
    }

    @include mq('phone') {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.333333%;
    }

    @include mq('phone-small') {
      width: 50%;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.3px;
      color: #A8A8A8;
    }

    b {
      margin-top: 3px;
      font-size: 16px;
      line-height: 24px;
      color: #1F2123;
      font-weight: 600;
    }
  }

  &__chart {
    height: 135px;
    margin-top: 25px;

    @include mq('desktop') {
      margin-top: 10px;
    }
  }
}
