@import '../../styles/mixins';

.l-app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100vh;
    width: calc(100% - 206px);
    background: #F6F6F6;

    @include mq('desktop') {
      width: calc(100% - 185px);
    }

    @include mq('tablet-wide') {
      width: calc(100% - 88px);
    }

    @include mq('tablet') {
      width: calc(100% - 60px);
    }
  }
}

.l-auth {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include mq('desktop-small') {
    overflow: auto;
  }
}
