@import '../../styles/mixins';

.l-register-confirm {
  position: relative;
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  @include mq('desktop-small') {
    flex-direction: column;
  }

  &__background {
    flex: 1;
    position: relative;
    height: 100vh;

    @include mq('desktop-small') {
      flex: 0.5;
      background: #1D62C9;
      padding: 100px;
    }

    @include mq('phone-wide') {
      flex: 0.5;
      padding: 0;
      display: none;
    }

    .img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      @include mq('desktop-small') {
        display: none;
      }
    }

  }
  &__logo {
    width: 286px;
    height: 71px;
    position: absolute;
    top: 90px;
    left: 100px;
    z-index: 1;
    @include mq('desktop-small') {
      left: 0;
      right: 0;
      margin: auto;
    }

    @include mq('phone-wide') {
      top: 20px;
    }
  }

}