.dd-wrapper {
  .dd-header {
    cursor: pointer;
    user-select: none;
    &-title {
      font-family: Gilroy;
      font-size: 16px;
      line-height: 26px;
      color: rgb(135, 154, 173);
      .icon {
        display: inline-block;
        width: 12px;
        height: 7px;
        margin: 0 26px;
        vertical-align: middle;
      }
    }
  }
  .dd-list {
    position: absolute;
    z-index: 299;
    left: 0;
    right: 0;
    width: 140px;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    li {
      user-select: none;
      transition: all .3s ease-in-out;
      background: rgba(255, 255, 255, 1);
      font-family: Gilroy;
      font-size: 14px;
      line-height: 26px;
      border-bottom: 1px solid rgb(236, 234, 234);
      color: rgb(125, 144, 163);
      padding: 2px;
      &.selected {
        background: rgb(213, 218, 241);
      }
    }
    li:hover {
      background: rgb(241, 239, 239);
    }
  }
}
