.c-subscription-stats {
  margin-bottom: 25px;
  .title {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 24px;
    color: #1F2123;
    font-weight: 600;
  }
  .header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    .cell {
      flex: 1;
      font-family: Gilroy;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.3px;
      color: #A8A8A8;
      font-weight: 500;
      &:first-child {
        flex: 3;
      }
    }
  }
  .body {
    .row {
      margin-top: 15px;
      cursor: pointer;
      .main-content {
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        border-bottom: 1px solid #E0E0E0;
        .cell {
          flex: 1;
          font-family: Gilroy;
          font-size: 12px;
          line-height: 16px;
          color: #1F2123;
          letter-spacing: 0.5px;
          &:first-child {
            font-weight: 600;
            letter-spacing: normal;
            flex: 3;
          }
          &:last-child {
            display: flex;
            flex-direction: row;
            .text {
              flex: 3;
              font-family: Gilroy;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.5px;
              color: #BDBDBD;
            }
            .icon-container {
              flex: 1;
              margin-top: 5px;
              .icon {
                margin-right: 5px;
                margin-left: auto;
                width: 9px;
                height: 5px;
                transition: all .2s ease-in-out;
              }
            }
          }
        }
      }
      .sub-content {
        margin-top: 7px;
        margin-left: 20px;
        margin-right: 30px;
        .sub-cell {
          display: flex;
          flex-direction: row;
          margin-top: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #F2F2F2;
          .item {
            flex: 1;
            font-family: Gilroy;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.5px;
            color: #828282;
            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}