.stats-container {
  overflow-y: auto;
  transition: all .3s ease-in-out;
  padding: 46px 21px 46px 50px;
  z-index: 4;
  width: 300px;
  height: 740px;
  position: absolute;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #FAFAFA;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(105, 105, 105, 0.1);
  border-radius: 10px;

  .title {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #1F2123;
    font-weight: bold;
  }

  .total-balance,
  .total-invested,
  .current-investment {
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;

    .toggle-icon {
      cursor: pointer;
      position: absolute;
      top: 27px;
      right: 0;
    }

    .value {
      margin-left: 5px;
      margin-top: 5px;
      font-family: Gilroy;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #1F2123;
      font-weight: 600;
    }

    .label {
      margin-left: 5px;
      font-family: Gilroy;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #1F2123;
    }

    .wallets {
      .wallet {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        padding: 5px 5px 3px;
        border-radius: 2px;
        .col {
          flex: 1;
          font-family: Gilroy;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: #1F2123;
          &.wide {
            flex: 2;
          }
          &.checkbox-column {
            flex: 0.5;
            display: flex;
            flex-direction: row;
            .negative {
              flex: 1;
            }
            .positive {
              flex: 1;
            }
          }
          .calc-input {
            font-family: Gilroy;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.5px;
            color: #1F2123;
            position: relative;
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid #B6BABE;
            width: 40px;
          }
        }
        &.include-active {
          background: #E0F1E8;
        }
        &.exclude-active {
          background: rgba(255, 218, 218, 0.5);
        }
        &.assets-include,
        &.assets-exclude {
          transition: all .3s ease-in-out;
          background: transparent;
        }

        &.assets-include {
          &:hover {
            background: #E0F1E8;
          }
        }
        &.assets-exclude {
          transition: all .3s ease-in-out;
          background: transparent;
          &:hover {
            background: rgba(255, 218, 218, 0.5);
          }
        }
      }
    }
  }

  .total-balance, .total-invested {
    .dropdown {
      .total-dropdown {
        .apexcharts-svg {
          margin: 0;
        }
        .currency {
          &.last {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
      .currency {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 7px;
        margin-top: 9px;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        .item {
          text-align: center;
          font-family: Gilroy;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: #B6BABE;
          flex: 1;
        }
      }
    }
  }

  .current-investment {
    border-bottom: none;
    .chart-container {
      display: flex;
      margin-left: -15px;
      .chart-left {
        flex: 1;
      }
      .chart-right {
        flex: 0.5;
        padding-top: 35px;
        margin-left: -30px;
      }
    }
  }
}