.l-affiliate-program-wrapper {
  overflow: auto;
  padding: 20px 86px 15px 30px;
}

.l-affiliate-program {
  box-shadow: 0 10px 20px rgba(105, 105, 105, 0.1);
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  .copy-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
  }
  .button {
    cursor: pointer;
    background: #1D62C9;
    border-radius: 50px;
    padding: 7px 0 9px 0;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  }
  .divider {
    height: 5px;
    width: 100%;
    background: #F2F2F2;
  }
  .header {
    display: flex;
    flex-direction: row;
    padding: 20px 32px 7px 20px;
    .column {
      flex: 1;
      &:last-child {
        display: flex;
        flex-direction: row;
        .sub-column {
          flex: 1;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          letter-spacing: 0.25px;
          color: #1F2123;
          &:last-child {
            flex: 0.5;
          }
        }
      }
    }
    .title {
      font-family: Gilroy;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #1F2123;
    }
  }
  .conditions {
    padding: 20px 32px 40px 20px;
    .title {
      font-family: Gilroy;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.3px;
      color: #A8A8A8;
    }
    .description {
      font-family: Gilroy;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #1F2123;
      margin-top: 15px;
      margin-bottom: 43px;
      max-width: 860px;
    }

    .create-ref-form {
      background: #E9F0FC;
      border-radius: 5px;
      padding: 20px;
      .title {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #1F2123;
        font-weight: 600;
      }
      input {
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 13px;
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 22px;
      }
      input::placeholder {
        font-family: Gilroy;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #BDBDBD;
      }
      .buttons-container {
        display: flex;
        flex-direction: row;
        .column {
          flex: 1;
          text-align: right;
          .cancel-button {
            display: inline-block;
            border: 2px solid #E75152;
            box-sizing: border-box;
            border-radius: 50px;
            font-family: Gilroy;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #E75152;
            font-weight: bold;
            padding-top: 7px;
            padding-bottom: 9px;
            padding-left: 36px;
            padding-right: 36px;
            margin-right: 16px;
            cursor: pointer;
          }
          .submit-button {
            cursor: pointer;
            display: inline-block;
            background: #1D62C9;
            border-radius: 50px;
            font-family: Gilroy;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            font-weight: bold;
            color: #FFFFFF;
            padding-top: 7px;
            padding-bottom: 9px;
            padding-left: 36px;
            padding-right: 36px;
          }
        }
      }
    }

    .success-message {
      margin: 21px 0px 28px;
      background: #E9F0FC;
      border-radius: 4px;
      padding: 18px;
      text-align: center;
      .icon {
        margin-right: 8px;
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
        background: #1D62C9;
      }
      .text {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #1F2123;
      }
    }

    .refferal-codes {
      max-width: 860px;
      display: flex;
      flex-direction: row;
      .column {
        flex: 1;
        &:first-child {
          flex: 0.5;
          .copy-icon {
            vertical-align: text-bottom;
          }
        }
        &:last-child {
          flex: 0.5;
          .button-container {
            max-width: 203px;
            margin-left: auto;
          }
        }
      }
      .title {
        font-family: Gilroy;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #1F2123;
        margin-bottom: 10px;
        font-weight: 600;
      }
      .code {
        display: flex;
        flex-direction: row;
        .column {
          flex: 1;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: #1F2123;
          .copy-icon {
            vertical-align: text-bottom;
          }
          &:first-child {
            flex: 0.5;
          }
        }
      }
    }

  }
  .page-links {
    padding: 30px 32px 30px 20px;
    .title {
      font-weight: 600;
      font-family: Gilroy;
      font-size: 18px;
      line-height: 24px;
      color: #B6BABE;
    }
    .links-container {
      margin-top: 25px;
      .row {
        cursor: pointer;
        padding: 10px 0 5px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #E0E0E0;
        .name {
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: #1F2123;
        }
        .link {
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: #1D62C9;
          font-weight: 600;
        }
        .name, .link {
          flex: 1;
        }
      }
    }
  }
  .stats {
    display: flex;
    flex-direction: row;
    padding-top: 28px;
    padding-bottom: 33px;
    padding-left: 20px;
    .column {
      flex: 1;
      &:first-child {
        padding-right: 72px;
      }
      &:last-child {
        border-left: 1px solid #E0E0E0;
        padding-right: 32px;
        padding-left: 32px;
        .title {
          margin-bottom: 31px;
        }
      }
      .title {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #B6BABE;
      }
    }
    .table {
      border: 1px solid transparent;
      position: relative;
      overflow: hidden;
      margin-top: 28px;
      .table-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3px;
        border-bottom: 1px solid #E0E0E0;
        .head-cell {
          flex: 0.5;
          font-family: Gilroy;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          font-weight: 600;
          color: #000000;
          &:nth-child(2) {
            flex: 1;
          }
        }
      }
      .table-rows {
        padding: 5px 0px;
        display: flex;
        flex-direction: column;
        .row {
          align-items: center;
          display: flex;
          flex: 1;
          flex-direction: row;
          padding: 7px 0;
          .item {
            flex: 0.5;
            font-family: Gilroy;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000000;
            &:nth-child(2) {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
