@import '../../styles/mixins';

.c-input {
  position: relative;
  &__label {
    font-family: Gilroy;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #BDBDBD;
    &.error {
      color: #E75152;
    }
  }
  &__error {
    font-family: Gilroy;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #E75152;
    height: 16px;
  }
  label {
    position: relative;
  }
  input {
    background: #fff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    font-family: Gilroy;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #1F2123;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    &.touched {
      border: 1px solid #1D62C9;
    }
    &.error {
      border: 1px solid #E75152;
    }
  }
  .eye {
    position: absolute;
    top: 26px;
    right: 6px;
    width: 27px;
    height: 25px;
    cursor: pointer;
    @include mq('phone-wide') {
      top: 0;
    }
  }
}