@import '../../styles/mixins';

.c-time-filter {
  margin-left: 50px;

  @include mq('desktop') {
    margin-left: 25px;
  }

  @include mq('phone-small') {
    margin-left: 15px;
  }

  button {
    padding: 4px 7px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #A8A8A8;

    @include mq('phone-small') {
      padding: 6px 12px;
      font-size: 16px;
    }

    &.is-active {
      color: #fff;
      background-color: #1D62C9;
    }
  }

  &-list {
    position: absolute;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    transition: all 0.7s ease;

    &__item {
      padding: 6px 50px 6px 20px;
      line-height: 20px;
      letter-spacing: 0.25px;
      font-size: 14px;
      color: #000000;

      &:hover {
        background-color: #F5F5F5;
      }
    }
  }

  &__period {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
    max-width: 100px;
    margin-bottom: 20px;
    padding: 0 !important;
    border: 0 !important;
    line-height: 26px;
    font-size: 16px;
    color: #1F2123;

    &:focus-within,
    &:hover,
    &:focus {
      border: 0 !important;
      box-shadow: none !important;
    }

    .react-dropdown-select-dropdown {
      overflow: hidden;
      width: auto;
      max-height: unset;
    }

    .react-dropdown-select-input {
      display: none;
    }
  }
}

.c-select-period {
  display: flex;

  &__list {
    flex-shrink: 0;
    width: 155px;
    padding: 12px 0;

    &-item {
      cursor: pointer;
      padding: 6px 20px;
      line-height: 20px;
      letter-spacing: 0.25px;
      font-size: 14px;
      color: #000;
      background-color: #fff;
      display: block;
      width: 100%;

      &.is-active,
      &:hover {
        background-color: #F5F5F5;
      }
    }
  }
}

.c-calendar {

  &__container {
    display: flex;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1px;
    padding: 12px 20px;
    background-color: #F2F2F2;

    &-inputs {
      display: flex;
      align-items: center;

      input {
        box-sizing: border-box;
        appearance: none;
        user-select: none;
        outline: none;
        max-width: 100px;
        padding: 8px 18px;
        border: 1px solid #BDBDBD;
        border-radius: 25px;
        line-height: 16px;
        letter-spacing: 0.5px;
        font-size: 12px;
        color: #000;
        background-color: #fff;
      }

      .separator {
        display: block;
        width: 10px;
        height: 1px;
        margin: 0 4px;
        background-color: #000;
      }
    }
  }

  .btn-primary {
    margin-top: 15px;
    width: 100%;
  }

  .react-calendar {
    width: auto !important;
    height: 267px;
    border: 0 !important;
    border-left: 1px solid #F2F2F2 !important;
    border-right: 1px solid #F2F2F2 !important;

    abbr[title] {
      text-decoration: none;
      white-space: nowrap;
    }

    .react-calendar__tile--now {
      background: #20AD65;
      color: #fff !important;
      border-radius: 5px !important;

      &:hover {
        background: #20AD65;
      }
    }

    &__navigation {
      cursor: auto !important;
      justify-content: space-between;
      align-items: center;
      height: auto !important;
      margin: 15px !important;

      &__label {
        flex-shrink: 0;
        flex-grow: unset !important;
        line-height: 20px;
        white-space: nowrap;
        letter-spacing: 0.25px;
        text-align: center;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
      }

      button:enabled:hover,
      button:enabled:focus {
        background-color: transparent !important;
      }

      &__prev-button,
      &__next-button{
        position: relative;
        width: 17px;
        min-width: unset !important;
        height: 17px;
        border: 1px solid #BDBDBD !important;
        border-radius: 100%;
        transition: all 0.6s ease;

        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #BDBDBD;
          transition: all 0.6s ease;
        }

        &:hover,
        &:focus {
          border: 1px solid #000 !important;

          &:after {
            color: #000;
          }
        }
      }

      &__prev-button {
        margin-right: 12px !important;

        &:after {
          content: '‹';
        }
      }

      &__next-button {
        margin-left: 12px !important;

        &:after {
          content: '›';
        }
      }

      &__prev2-button,
      &__next2-button {
        display: none;
      }
    }

    &__month-view {

      &__weekdays {
        justify-content: space-between;
        margin: 0 14px 9px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        color: #E0E0E0;

        &__weekday {
          flex-basis: unset !important;
          padding: 0 10px !important;
        }
      }

      &__days {
        margin: 0 14px;

        &__day {
          margin-bottom: 6px !important;
          padding: 5px 7px !important;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.5px;
          font-size: 12px;
          color: #000000 !important;

          abbr {
            white-space: nowrap !important;
          }
        }
      }
    }

    &__tile {

      &--active {
        background: #E9F0FC !important;

        &:enabled:hover,
        &:enabled:focus {
          background: #E9F0FC !important;
        }
      }

      &--rangeStart,
      &--rangeEnd {
        border-radius: 5px !important;
        color: #fff !important;
        background: #1d62c9 !important;

        &:enabled:hover,
        &:enabled:focus {
          background: #1d62c9 !important;
        }
      }
    }
  }
}
