@import '../../styles/mixins';

.l-payment {
  position: relative;
  background-color: #F6F6F6;
  padding: 20px 86px 15px 30px;
  overflow: auto;
  .tabs-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;

    .tab-list {
      border-bottom: 3px solid #E0E0E0;
      height: 49px;

      .rwt__tab {
        position: relative;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 3px;
        padding-left: 20px;
        font-family: Gilroy;
        font-size: 16px;
        line-height: 26px;
        color: #1F2123;
        &.blue {
          padding-left: 52px;
        }
        &.active:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
        }
        &.blue {
          &.active:after {
            left: 32px;
            background: #1D62C9;
          }
        }
        &.red {
          &.active:after {
            background: #E75152;
          }
        }
        &.green {
          &.active:after {
            background: #20AD65;
          }
        }
      }
    }

    .rwt__tabpanel {
      padding: 32px 0 0;
    }
  }
}